form {
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    max-width: var(--panel-max-width);
    min-width: var(--panel-min-width);
    background-color: var(--panel-bg);
}

form > div {
    margin-bottom: 16px;
}

label[for="operator_name"] {
    display: block;
    font-weight: bold;
}

select {
    margin-top: 6px;
    padding: 4px 8px;
}

legend {
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 6px;
}