header {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 56px;
    padding: 0 16px;
    background: rgb(22, 24, 27);
    margin-bottom: 20px;
    color: white;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.site-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.page-title {
    margin: 0;
    font-size: 28px;
    white-space: nowrap;
}