.result {
    margin-top: 16px;
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    max-width: var(--panel-max-width);
    min-width: var(--panel-min-width);
    background-color: var(--panel-bg);
    font-weight: bold;
}