<!-- base.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>{{ page_title }}</h1>
    </header>

    <div class="layout">
        <aside>
            <a href="/">Home Page</a>
            <a href="/skill_mul">Skill Mul Multiple Search</a>
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>