<!-- base.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>{{ page_title }}</h1>
    </header>

    <button id="menu-toggle" type="button">Menu</button>

    <div class="layout">
        <aside id="sidebar" class="closed">
            <a href="/">Home Page</a>
            <a href="/skill_mul">Skill Mul Multiple Search</a>
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <script>
        const button = document.getElementById("menu-toggle");
        const sidebar = document.getElementById("sidebar");

        button.addEventListener("click", function(){
            sidebar.classList.toggle("closed")
        });
    </script>
</body>
</html>