<h1>Skill Multiple Search Page</h1>

<form action="/skill_mul" method="post">
    <div>
        <label for="operator_name">Operator Name</label>
        <select id="operator_name" name="operator_name" onchange="this.form.submit()">
            {% for operator_name in operator_names %}
                <option value="{{ operator_name.value }}"
                    {% if operator_name.value == selected_operator_name %}selected{% endif %}>
                    {{ operator_name.value }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <span>Skill Type</span>
        {% for skill_type in skill_types %}
            <div>
                <input
                    type="radio"
                    id="skill_type_{{ skill_type.value }}"
                    name="skill_type"
                    value="{{ skill_type.value }}"
                    onchange="this.form.submit()"
                    {% if skill_type.value == selected_skill_type %}checked{% endif %}
                >
                <label for="skill_type_{{ skill_type.value }}">{{ skill_type.value }}</label>
            </div>
        {% endfor %}
    </div>

    <div>
        <label for="skill_id">Skill ID</label>
        <select id="skill_id" name="skill_id">
            {% for skill_id in skill_ids %}
             <option value="{{ skill_id }}"
                {% if skill_id|string == selected_skill_id %}selected{% endif %}>
                {{ skill_id }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="stack">Stack</label>
        <select id="stack" name="stack">
            {% for stack in stacks %}
                <option value="{{ stack }}"
                    {% if stack|string == selected_stack|string %}selected{% endif %}>
                    {{ stack }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Search</button>
</form>

{% if skill_mul is not none %}
    <p>Skill Mul: {{ skill_mul }}</p>
{% endif %}