{% extends "base.html" %}

{% block content %}
<form action="/skill_mul_2" method="post">
    <div>
        <label for="operator_name">Operator Name</label>
        <select id="operator_name" name="operator_name" onchange="this.form.submit()">
            {% for operator_name in operator_names %}
                <option value="{{ operator_name.value }}"
                    {% if operator_name.value == selected_operator_name %}selected{% endif %}>
                    {{ operator_name.value }}
                </option>
            {% endfor %}
        </select>
    </div>
</form>

{% if skill_mul is not none %}
    <div class="result">
        <div class="result_group">
            <p class="result_title">Battle Skill</p>
            <p><span class="result_label">Skill Mul:</span> {{ skill_mul_battle }}</p>
            <p><span class="result_label">Standard Score:</span> {{ standard_score_battle }}</p>
        </div>
        
        <div class="result_group">
            <p class="result_title">Combo Skill</p>
            <p><span class="result_label">Skill Mul:</span> {{ skill_mul_combo }}</p>
            <p><span class="result_label">Standard Score:</span> {{ standard_score_combo }}</p>
        </div>

        <div class="result_group">
            <p class="result_title">Ultimate</p>
            <p><span class="result_label">Skill Mul:</span> {{ skill_mul_ultimate }}</p>
            <p><span class="result_label">Standard Score:</span> {{ standard_score_ultimate }}</p>
        </div>
    </div>
{% endif %}

{% endblock %}